body{
    font-family: Lato;
    min-height: 100%;
}

html{
    height: 100%;
}

.navbar{
    background-color: #ffffff;
}

#mainNavbar .nav-link{
    color: black;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

#mainNavbar .nav-link:hover{
    color: #989c98;
}

.col{
    padding-right: 148px;
}

#Match{
    background: url(/static/Pic_Match.jpg);
    /* background-color: #00352B; */
    background-size: cover;
    background-position: center;
}

.btn-primary{
    background: #00352B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 59px;
    width: 170px;
    height: 50px;
    /* left: 48px;
    top: 144px; */
    font-size: 20px;
    /* line-height: 27px; */
    color: #F2E8DD;
    border: none;
    padding-top: 13.12px;
    padding-bottom: 13.12px;
    padding-left: 22.03px;
    padding-right: 22.03px;
    align-items: center;
    text-align: center; 
}

.btn:hover{
    background-color: #989c98;
}

.jumbotron{
    width: 50%;
    height: 260px;
    padding-top: 12px;
    padding-left: 17px;
    padding-right: 17px;
    margin-left: 25%;
    margin-right: 25%;
}

#JumboMatch{
    background: rgba(255, 254, 254, 0.85);
}

#JumboPic{
    background: none;
    border: 2px solid #00352B;
}

#add{
    margin-left: 0;
    margin-bottom: 8.12px;

}

h3{
    font-size: 14px;
    line-height: 18px;
    color: #706D6D;
    text-align: center;
    margin-top: 3px;
}

#camera{
    background: transparent;
    font-size:63px;
    color: #00352B;
    margin-right: 3%;
    box-shadow: none;
    border: none;
    width: 63px;
    height: 63px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 129px;
    margin-right: 129px;
}

#plus{
    font-size: 63px;
    color: #A66653;
    background: transparent;
    border: none;
    box-shadow: none;
    width: 63px;
    height: 63px;
    margin-right: 0px;
}

.btn-default{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 129px;
    margin-right: 129px;
}

h1{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #00352B;
    text-align: center;
}

.display-4{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* text-align: center; */
    margin-bottom: 17px;
}

.Subtext{
    font-size: 14px;
    line-height: 25px;
}

#FitPlant{
    margin-right: 17.5%;
    margin-left: 17.5%;
    margin-top: 5%;
    width: 65%;
}

#FitPlantSub{
    margin-right: 17.5%;
    margin-left: 17.5%;
    width: 65%;
}