body{
    font-family: Lato;
}

html{
    position: relative;
    min-height: 100%;
}

.navbar{
    background-color: transparent;
  }
  
  #mainNavbar .nav-link{
    color: #00352B;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  
  #mainNavbar .nav-link:hover{
    border-bottom: 2px solid #CD8E6E;
    border-radius: 2px;
  }
  
  .navbar.scrolled {
    background: rgba(255, 255, 255, 0.9);
    transition: background 500ms;
  }
  
  #navbarSupportedContent{
    background: rgba(255, 255, 255. 0.9);
    transition: background 500ms;
  }
  
  #navbarSupportedContent.scrolled {
    background: rgba(255, 255, 255, 0.9);
  }

#left{
    margin-top: 70px;
}

#HeadLeft{
    height: 30.43%;
    margin-top: 3.86%;
}

hr{
    width: 69px;
    height: 4px;
    left: 250px;
    top: 244px;
    background: #00352B;
    border-radius: 2px;
}

#Match{
    background: url(../images/Pic_Match.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
}

.btn-primary{
    background: #00352B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 59px;
    width: 170px;
    height: 50px;
    font-size: 20px;
    color: #F2E8DD;
    border: none;
    margin-top: 15px;
    margin-left: 25%;
    margin-right: 25%;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
    background-color: #989c98;
}

#submit{
    margin-left: 0%;
    margin-right: 0%;
}

.jumbotron{
    width: 350px;
    height: 300px;
    padding-top: 12px;
    padding-left: 17px;
    padding-right: 17px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 26px;
}

#JumboMatch{
    background: rgba(255, 254, 254, 0.85);
    margin-top: 58%;
}

#JumboPic{
    background: none;
    border: 2px solid #00352B;
    margin-top: 5%;
}

#add{
    margin-left: 0;
    margin-bottom: 8.12px;
}

form{
    margin-left: 25%;
    margin-right: 25%;
}

h3{
    font-size: 14px;
    line-height: 18px;
    color: #706D6D;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 15px;
}

#plus{
    font-size: 63px;
    color: #A66653;
    background: transparent;
    border: none;
    box-shadow: none;
    width: 63px;
    height: 63px;
    margin-right: 0%;
    margin-left: 0%;
}

.btn-default{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 129px;
    margin-right: 129px;
}

h1{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #00352B;
    text-align: center;
    margin-top: 5%;
    margin-left: 20.67%;
    margin-right: 10.67%
}

.display-4{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* text-align: center; */
    margin-bottom: 17px;
}

.Subtext{
    font-size: 14px;
    line-height: 25px;
}

#FitPlant{
    margin-right: 17.5%;
    margin-left: 17.5%;
    width: 65%;
}

#FitPlantSub{
    margin-right: 17.5%;
    margin-left: 17.5%;
    width: 65%;
}