<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

get_resource_url

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

```
<title>Plant journey</title>

```

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a href="{{ url_for('main.index') }}" class="navbar-brand">PLANT JOURNEY</a>
</div>
<div class="collapse navbar-collapse" id="bs-nav-demo">
<ul class="nav navbar-nav navbar-right">
<li><a href="#">About</a></li>
<li><a href="#">How it works</a></li>
<li><a href="#">Start now</a></li>
</ul>
</div>
</div>

<div id="abovefold" class="row" height="742px" width="1442px">
<div id ="header" class="col-lg-3 col-md-2"><h1>Find your <span style="font-weight: 500;">perfect plant</span> </h1>
<button onclick="window.location.href='{{ url_for('main.match') }}'" type="button" id="matchnow" class="btn btn-default btn-lg">Match now</button>
</div>
</div>

<div class="row">
<div class="col-lg-3 col-sm-42"><h2>PLANT JOURNEY</h2></div>
<div class="col-lg-6 col-sm-4 text-justify" ><h3>To match your plant you simply need to take three simple steps. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h3></div>
</div>
<div class="row">
<div class="col-lg-4 col-sm-12"><p>To match your plant you simply need to take three simple steps. Lorem ipsum dolor sit amet, consetetur</p></div>
<div class="col-lg-4 col-sm-12"><p>To match your plant you simply need to take three simple steps. Lorem ipsum dolor sit amet, consetetur</p></div>
<div class="col-lg-4 col-sm-12"><p>To match your plant you simply need to take three simple steps. Lorem ipsum dolor sit amet, consetetur</p></div>
</div>

</div>
</div>
<!-- </div> -->
<footer class="page-footer font-small cyan darken-3">
<div class="footer-copyright text-center py-3">© 2020 Copyright: The Palnt Journey Team
</div>

</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>