<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet" type="text/css">
      
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

    <title>Plant Journey</title>
  </head>
  <body>
    <nav id="mainNavbar" class="navbar navbar-light navbar-expand-lg fixed-top py-0">
      <a class="navbar-brand" href="/">
        <img src="static/images/PLANTJOURNEY_LOGO_FINAL-04-16-9.png" width="124" height="70" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/">How It Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.match') }}">Start Now</a>
            </li>
        </ul>
      </div>
    </nav>

    <section id="header" class="jumbotron text-left">
        <h1 style="width: 18rem;">Find your perfect plant</h1>
        <button type="button" id="matchnow" class="btn btn-default btn-md"  onclick="window.location.href='{{ url_for('main.match') }}'">Start now</button>
    </section>

<div id="middle" class="container">
<div class="row justify-content-between">
  <div class="card border-0 my-5" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/PLANT HOME 1 _ PJ _ 2020.png') }}" class="card-img-center vector">
  <div class="card-body my-5">
    <p class="card-text block-txt">There’s a beautiful plant but you’re not sure what it’s name is and how to take care of it? Take a photo and we will tell you!</p>
  </div>
</div>

  <div class="card border-0 my-5" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/PLANT HOME 2 _ PJ _ 2020.png') }}" class="card-img-center vector">
  <div class="card-body my-5">
    <p class="card-text block-txt">You also want to know if that plants suits your personal lifestyle? Answer three short questions and find out!</p>

  </div>
</div>

  <div class="card border-0 my-5" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/PLANT HOME 3 _ PJ _ 2020.png') }}" class="card-img-center vector">
  <div class="card-body my-5">
    <p class="card-text block-txt">You are looking for the perfect plant? Find your perfect plant match and scroll through our collection!</p>
  </div>
</div>

<div id="bottom" class="container-fluid px-0">
  <div class="row container-fluid">
    <div id="parttwo" class="col-sm  mr-5 my-5 block-txt">
      Sarah and Christoph developed the initial idea for <strong>PlantJourney</strong>. They love plants and want to offer them the safest home possible. As beginners, it was not easy for them to get around the wide range of plants and to find easy to understand care instructions. So the idea for PlantJourney was born: a web app that helps plant lovers find the right plant for their personal requirements.
      The web app was then realized by a motivated team that found each other through the program of <a href="https://www.techlabs.org/location/berlin/" target="_blank">TechLabs Berlin</a>. 
      You can learn more about the people behind PlantJourney on our <a href="/about">about page</a>. 

    </div>

 <div class="col-sm  my-5 d-flex justify-content-center">
   <img src="{{ url_for('static', filename='images/Plant journey H1.png') }}" class="img-fluid" alt="Responsive image">
    </div>
  </div>
<div class="row container-fluid">
   <div class="col-sm my-5"></div>
   <div class="col-sm  my-5 d-flex justify-content-center"> <button type="button" id="matchnow" class="btn btn-default btn-md" onclick="window.location.href='{{ url_for('main.match') }}'">Start now </button>
</div>


</div>

  <div id="footer" class="container-fluid">
    <div class="row">
      <div class="col py-2 flex-center">
       <div class="footer-copyright text-center py-3">
         © 2020 Copyright: Plant Journey. All rights reserved. Made with love in Berlin.
         <a href="https://www.instagram.com/_plant_journey_/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>



    </div>
 </div>
 </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
    <script>
      $(function () {
        $(document).scroll(function(){
          var $nav = $("#mainNavbar");
          $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
        });
      });
   </script>
  
  </body>
</html>