<!-- RECENT STATUS OF PAGE 2 -->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <!-- 3: -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- 4: -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Icons: -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Google Font: -->
      <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet" type="text/css">
      
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/match.css') }}">

    <title>Plant Journey</title>
</head>



<body>

    <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
        <a class="navbar-brand" href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='images/PLANTJOURNEY_LOGO_FINAL-04-16-9.png') }}" width="124" height="70" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">How It Works</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Start Now</a>
              </li>
          </ul>
        </div>
      </nav>
    <section class="container-fluid px-0">
        <div class="row border justify-content-center align-items-center">

            <div class="col-sm-6 m-0">
                    <h1 class="text-center" id="FitPlant">Would you like to know if the plant fits you?</h1>
                    <h2 class="Subtext text-center" id="FitPlantSub"><p>Upload a picture of a plant and we will tell you all about it.</p><p>If you’re still not sure, if its the right plant for you, just answer three quick questions about yourself to find out.</p></h2>

                    <div class="jumbotron" id="JumboPic">

                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg" id="plus">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
                          </svg>

                          <h1 id="add">Add your picture</h1>

                            <h3>Take a photo now or</h3>
                            <button type="button" class="btn btn-default pull-right" href="#" role="button" id="camera">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-camera-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                    <path fill-rule="evenodd" d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                                </svg>
                            </button>
                        <form action="/match" method="POST" enctype="multipart/form-data">
                            <label>
                                <h3>or <u>choose from library</u></h3><input type="file" name="image" hidden id="plus">
                            </label>
                            <button type="submit" class="btn btn-primary btn-lg rounded-pill">Recognize</button>
                        </form>
                    </div>
            </div>

            <div class="col-sm-6 m-0" id="Match">
                <div class="jumbotron img-fluid" id="JumboMatch">
                    <h1 class="display-4 text-center">Are you looking for the perfect plant?</h1>
                    <h2 class="Subtext text-center">Just answer <b>three quick questions</b> about yourself to find the plant that fits you perfectly.</p>
                    <a class="btn btn-primary btn-lg rounded-pill" href="#" role="button">Match now</a>
                </div>
            </div>
        </div>
    </section>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

        <script src="js/file-upload.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.file-upload').file_upload();
    });
</script>

<script>
    $(function () {
      $(document).scroll(function(){
        var $nav = $("#mainNavbar");
        $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
      });
    });
 </script>


</body>
</html>