<!-- RECENT STATUS OF PAGE 2 -->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">



    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    
    <!-- -->  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    

    <!--     
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
    -->
   
    <!-- Icons: --> 
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Google Font: -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet" type="text/css">
    
    <!-- Flask/Jinja specific command to get the css style-->  
    <!-- --> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/match.css') }}">
    
    <title>Plant Journey</title>
</head>



<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
      
            <!-- Das ist das Hamburgermenü: -->
             <!-- # bezieht sich auf die id des normalen Menüs und so werden die dort aufgeführten Menüpunkte im Hamburgermenü als dropdown angezeigt: -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <!-- innerhalb des Buttons sind diese drei spans:
              Jede span stellt einen kleinen grauen Strich dar -->
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Flask/Jinja command to get the logo -->
            <a class="navbar-brand" href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='images/PLANTJOURNEY_LOGO_FINAL-04-16-9.png') }}" width="124" height="70" alt=""></a>
          </div>
      
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">About</a></li>
              <li><a href="#">How It Works</a></li>
              <li><a href="#">Start Now</a></li>
            </ul>
          </div>
        </div>
      </nav>


      <!-- Recognition results -->    
      <div>
        <h2>Recognition results</h2>
        <p>Your plant has been recognized as <b>{{ recognized_plant.plant_class }}</b> with a confidence level of <b id="conf"></b> &percnt;</p>

        <div>
        <h2>Plant specs</h2>
        <p><b>{{plant_info.common_name}}</b></p>
        <p>{{plant_info.botanical_name}}</p>
        <p>Mature size: {{plant_info.mature_size}}</p>
        <p>Fragrance: {{plant_info.fragrance}}</p>
        <p>Best time to plant: {{plant_info.best_time_to_plant}}</p>
        <h2>Caution</h2>
        <p><b><Careful:</b></p>
          <div>
            <p>
            {% if plant_info.toxic == 1 %}
            The plant can be toxic
              
              {% if plant_info.children == 1 %}
              for children
              {% endif %}

              {% if plant_info.cats == 1 %}
              cats
              {% endif %}

              {% if plant_info.dogs == 1 %}
              dogs
              {% endif %}

            {% endif %}
            </p>
          </div>
        </div>
        
      </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- JS -->
    <script>
      const conf_value = {{ recognized_plant.confidence }}
      document.getElementById("conf").innerHTML = (conf_value * 100).toFixed(2);
    </script>

</body>

</html>
